body{display: block; margin: 0 auto; width: 1000px;}
a{text-decoration: none; color: #000000;}
a:HOVER {color: #00fa13;}
ul{list-style-type: square;}
li{display: block; padding-bottom: 10px;}
li p{font-family: "Verdana", sans-serif, serif;}
#footer{
	display: block; 
	margin: 0 auto; 
	background: #000000; 
	color: #ffffff; 
	width: 1000px; 
	height: 30px; 
	padding-top: 10px; 
	text-align: center;
	}

